VITE_TEAM_1_LINKEDIN=https://www.linkedin.com/in/...
VITE_TEAM_1_PHOTO=

VITE_TEAM_2_LINKEDIN=https://www.linkedin.com/in/...
VITE_TEAM_2_PHOTO=

VITE_TEAM_3_LINKEDIN=https://www.linkedin.com/in/...
VITE_TEAM_3_PHOTO=

VITE_TEAM_4_LINKEDIN=https://www.linkedin.com/in/...
VITE_TEAM_4_PHOTO=

VITE_TEAM_5_LINKEDIN=https://www.linkedin.com/in/...
VITE_TEAM_5_PHOTO=

VITE_TEAM_6_LINKEDIN=https://www.linkedin.com/in/...
VITE_TEAM_6_PHOTO=
